html {
  font-size: 16px;
}

body {
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* unknown props */
/* пример фонового цвета - background-color: #3F51B5; */
/* тень блока - box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
/* закругленные углы у кнопок - border-radius: 3px; */

/* Your styles go below */
* {
	box-sizing: border-box;
}

header {
	background-color: #3F51B5;
	position: fixed;
	height: 56px;
	width: 100%;
	padding: 20px;
	z-index: 999;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.main-description {
	position: relative;
top: 80px;
left: 30px;
padding-bottom: 30px;
font-size: 35px;
font-weight: bold;
}

.cards {
	margin: 30px;
	display: inline-block;
	max-width: 300px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	height: 350px;
	position: relative;
}

.cards-content {
	margin-top: 70px;
}

img {
	width: 300px;
	height: 150px;
}

h2 {
	font-weight: bold;
	font-size: 25px;
	margin: 10px;
}

.content {
	width: 1170px;
	margin: 0 auto;
}

.photo-card {
	position: relative;
}

.label-item {
  position: absolute;
  z-index: 1;
  left: 10px;
  height: 25px;
  width: 25px;
  top: 10px;
}

.choosecard {
  background-color: #3F51B5; 
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 5px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.choosecard:hover {
  text-decoration: none;
}

.card-name {
	padding: 15px;
	position: relative;
}
.text {
	padding: 10px;
}
footer {
	background-color: #3F51B5;
	height: 56px;
	width: 100%;
	padding: 20px;
	text-align: center;
	color: white;
}

.pagination-catalog {
	text-align: center; 
	margin: 10px;
}

.pagination-catalog a {
	text-decoration: underline;
	padding-right: 10px;
	cursor: default;
}

.pagination-catalog .page:active {
	text-decoration: none; 
}

.main-nav {
	color: white;
	font-weight: bold;
	text-decoration: none; 
}

.head-nav .main-nav:active {
	text-decoration: underline; 
}
