html {
  font-size: 16px;
  background-image: url("../images/pattern.png");
}

body {
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Unknown props */
/* box-shadow: 0 2px 5px rgba(0,0,0,.26); - header */
/* border-radius: 3px; - card rounding */
/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); - card shadow */
/* border-top-left-radius: 3px;
  border-top-right-radius: 3px; - for card image */

/* Your styles go below */

* {
  box-sizing: border-box;
}

.header {
  background-color: #25b425;
  color: white;
  line-height: 50px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.nav-link {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
  position: relative;
  text-transform: uppercase;
}

.nav-link:last-child {
  margin-right: 0px;
}

.nav-link-active:before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: yellow;
  left: 0;
}

.nav-auth-link {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

.nav-auth-link:last-child {
  margin-right: 0px;
}

.start-home {
  background-image: url("../images/intro.jpg");
  height: 550px;
  color: white;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.start-intro {
  font-size: 64px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.content {
  
  padding-bottom: 70px;
}

.subject {
  margin: 60px auto 40px;
  font-size: 34px;
  font-weight: bold;
}

.row {
  margin: 0 -15px;
}

.row:after {
  content: "" ;
  display: block;
  clear: both;
}

.column {
  padding: 0 15px;
  float: left;
  width: 25%;
}

.card {
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.card-image {
  height: 200px;
  background-image: url("../images/everest.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.card-image-heading {
  position: absolute;
  color: white;
  bottom: 5px;
  left: 15px;
  font-size: 20px;
}

.card-content{
  padding: 15px;
}

.subtitle {
  margin-bottom: 15px;
  font-size: 18px;
  color: #ddd;
}

.card-excerpt {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  min-width: 50px;
  color: green;
  height: 40px;
  padding: 0 12px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  margin-right: 1px;
}

.load-more {
  text-align: center;
}

.button-load-more {
  background: green;
  color: white;
}

.footer {
  line-height: 30px;
  padding: 24px 0;
  background-color: black;
  color: white;
}

.footer-link {
  display: table;
}
.footer-link:last-child {
  margin-bottom: 0px;
}
